<h1><%= @question.title %></h1>

<%= render 'likes/buttons', likeable: @question %>
<% current_user.view_question(@question) if signed_in? %>

<pre>
  <%= @question.body %>
</pre>

<strong>Asked by:</strong> <%= @question.user.username %>

<br>
<strong>Tags:</strong>
<%= render 'tags/tags', taggable: @question %>

<br>
<% if (@question.user == current_user) %>
  <a href="<%= edit_question_url(@question)%>">Edit Question</a>
<% end %>

<%= render "comments/index", commentable: @question %>

<%= render "comments/form", commentable: @question %>

<h2>Answers</h2>
<% @question.answers.each do |answer| %>
  <%= render 'likes/buttons', likeable: answer %>
  <pre>
    <%= answer.body %>
  </pre>
  <strong>Answer by:</strong> <%= answer.user.username %>

  <%= render "comments/index", commentable: answer %>
  <%= render "comments/form", commentable: answer %>
<% end %>


<form id="new_answer" action='<%=answers_url%>' method="post">
  <%= auth_token_input %>
  <input type="hidden" value='<%=@question.id%>' name="answer[question_id]">
  <textarea name="answer[body]"></textarea>
  <input type="submit" value="Answer">
</form>
