<h1><%= @question.title %></h1>

<pre>
  <%= @question.body %>
</pre>

<strong>Asked by:</strong> <%= @question.asker.username %>

<%= render "comments/index", commentable: @question %>

<%= render "comments/form", commentable: @question %>

<h2>Answers</h2>
<% @question.answers.each do |answer| %>
  <pre>
    <%= answer.body %>
  </pre>
  <strong>Answer by:</strong> <%= answer.responder.username %>
  
  <%= render "comments/index", commentable: answer %>
  <%= render "comments/form", commentable: answer %>
<% end %>


<form id="new_answer" action='<%=answers_url%>' method="post">
  <%= auth_token_input %>
  <input type="hidden" value='<%=@question.id%>' name="answer[question_id]">
  <textarea name="answer[body]"></textarea>
  <input type="submit" value="Answer">
</form>
