<h1><%= @user.username %> </h1>

<strong>Location:</strong> <%= @user.location %><br>
<strong>Join Date:</strong> <%= @user.created_at %>

<br>
<% if (@user == current_user) %>
  <a href="<%= edit_user_url(@user)%>">Edit this info</a>
<% end %>

<br>
<strong>watched tags:</strong>

<%= render 'tags/tags', taggable: @user %>

<h3>Answers</h3>
<ul class='answers'>
  <% @user.answers.each do |answer|  %>
    <li>
      <a href="<%= question_url(answer.question) %>"><%= answer.question.title  %></a>
    </li>
  <% end %>
</ul>

<h3>Questions</h3>
<ul class='questions'>
  <% @user.questions.each do |question| %>
    <li>
      <a href="<%= question_url(question)%>"><%= question.title %></a>
    </li>
  <% end %>
</ul>
