<!DOCTYPE html>
<html>
<head>
  <title>BlockOverhead</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id='user'>
    <div id='user-inner' class='group'>
      <% if signed_in? %>
        <%= link_to "Sign Out", session_url, :method => :delete %>
        <a href='<%= '/#/users/' + current_user.id.to_s %>'><%= current_user.username %></a>
      <% else %>
        <a href="<%= new_session_url %>">Sign In</a>
        <a href="<%= new_user_url %>">Sign Up</a>
      <% end %>
      <form id='search-form'>
        <input type="text" id='search-bar' placeholder='Search for Questions'>
      </form>
    </div>
  </nav>
  <nav id='link-bar' class='group'>
    <img src="<%= image-url('logo.png') %>" alt="logo" />
    <div id='link-inner'>
      <a href='/#/questions'>Questions</a>
      <a href='/#/tags'>Tags</a>
      <a href='/#/users'>Users</a>
      <a href='/#/unanswered'>Unanswered</a>
      <a href='/#/ask'>Ask</a>
    </div>
  </nav>

<%= yield %>
</body>
</html>
