<!DOCTYPE html>
<html>
<head>
  <title>BlockOverhead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <a href='<%= user_url(current_user) %>'><%= current_user.username %></a>
    <%= button_to "Sign Out", session_url, :method => :delete %>
  <% else %>
    <a href="<%= new_session_url %>">Sign In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>
  <br>
  <a href='<%= questions_url %>'>Questions</a>
  <a href='<%= tags_url %>'>Tags</a>
  <a href='<%= users_url %>'>Users</a>
  <a href='#'>Unanswered</a>
  <a href='<%= new_question_url %>'>Ask</a>

<%= yield %>

</body>
</html>
